<div id="wrapper" class="night-background">
    <div class="container center-align valign-wrapper" ng-class="contentClass" style="height: 100vh;">
        <div class="valign animated fadeInDown" style="width: 100%;">
            <div class="row" ng-show="error">
                <div class="col col s12 m12 l8 offset-l2 center-align">
                    <div class="card-panel red">
                          <span class="white-text">
                             {{error}}
                          </span>
                    </div>
                </div>
            </div>
            <div class="flow-text">
                <div class="row">
                    <div class="row col s12 m12 l8 offset-l2">
                        <div class="col s3 right-align">C'est bientôt</div>
                        <div class="col s9"><input class="big" type="text" ng-model="data.title"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="row col s12 m12 l8 offset-l2">
                        <div style="display: inline-block;">
                            <span class="left">le</span>
                            <input type="text" class="left big" size="10" style="margin: 0 20px; width: auto"
                                   maxlength="10" minlength="10" ng-model="data.date">
                            <span class="left">à</span>
                            <input type="text" class="left big" size="2" style="margin: 0 20px; width: auto"
                                   maxlength="2" minlength="2" ng-model="data.hours">
                            <span class="left">:</span>
                            <input type="text" class="left big" size="2" style="margin: 0 20px; width: auto"
                                   maxlength="2" minlength="2" ng-model="data.minutes">
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div>
                <button ng-click="save()" class="btn teal waves-effect waves-light">Compte les dodos !</button>
            </div>
        </div>
    </div>
</div>