<div id="wrapper" ng-class="wrapperClass">
    <div class="container center-align valign-wrapper" style="height: 100vh;">
        <div class="valign" ng-class="contentClass" style="width: 100%;">
            <h1 class="margin-top-none">DodoTimer</h1>
            <p class="flow-text">
                Overdose de hype ? Comptez les dodos avant le jour J.
            </p>
            <button ng-click="start()" class="waves-effect waves-light btn-large blue-grey lighten-4 black-text animated tada">C'est parti</button>
        </div>
    </div>
</div>